<p id="notice"><%= notice %></p>

<h1>Upcoming Classes</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Location</th>
      <th>Type</th>
      <th>Date</th>
      <th>Time</th>
      <th>Limit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workshops.each do |workshop| %>
      <tr>
        <td><%= workshop.location.name  %></td>
        <td><%= workshop.subject %></td>
        <td><%= date_format(workshop.time) %></td>
        <td><%= time_format(workshop.time) %></td>
        <td><%= workshop.limit %></td>
        <td><%= link_to("Register", register_workshop_path(workshop), method: :patch, class: 'btn btn-default') unless admin_present? %></td>
        <%if admin_present?  %>
          <td><%= link_to 'Show', workshop, class: 'btn btn-default' %></td>
          <td><%= link_to 'Edit', edit_workshop_path(workshop), class: 'btn btn-default' %></td>
          <td><%= link_to 'Destroy', workshop, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if admin_present? %>
  <%= link_to 'New Workshop', new_workshop_path %>
<% end %>
