<p id="notice"><%= notice %></p>
<p>
  <strong>Location:</strong>
  <%= @workshop.location.name %>
</p>


<p>
  <strong>Subject:</strong>
  <%= @workshop.subject %>
</p>

<p>
  <strong>Time:</strong>
  <%= @workshop.time %>
</p>

<p>
  <strong>Limit:</strong>
  <%= @workshop.limit %>
</p>

<% if admin_present? %>
  <%= link_to 'Edit', edit_workshop_path(@workshop) %> |
<% end %>
  <%= link_to 'Back', workshops_path %>

<% if admin_present? %>
  <h1>Registered Users</h1>
  <table class="table table-hover">
    <thead>
      <th>Name</th>
      <th>Email</th>
    </thead>
    <% @workshop.users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </table>
<% end %>
