<div class="row">
  <header class="section-header">
    <h1>Get the rest you need to take the best care of your baby.</h1>
  </header>
</div>
<div class="row">
  <div class="carousel-row">
    <div class="carousel">
      <div class="carousel-img">
        <%= image_tag("baby-hand-crop.jpeg") %>
      </div>
      <div class="text-overlay">
        <h2>Personal Plan For Your Little One</h2>
      </div>
      <%= link_to("Learn More", class_path, class: 'btn btn-carousel') %>
    </div>
    <div class="carousel">
      <div class="carousel-img">
        <%= image_tag("n131ups3hog-amanda-jordan-crop.jpg") %>
      </div>
      <div class="text-overlay">
        <h2>Breastfeeding Friendly</h2>
      </div>
      <%= link_to("Learn More", class_path, class: 'btn btn-carousel') %>
    </div>
    <div class="carousel">
      <div class="carousel-img">
        <%= image_tag("g6neij8rqmg-amanda-jordan-crop.jpg") %>
      </div>
      <div class="text-overlay">
        <h2>When Your Baby Is Ready</h2>
      </div>
      <%= link_to("Learn More", class_path, class: 'btn btn-carousel') %>
    </div>
  </div>
</div>


<!-- CAROUSEL -->
<%= javascript_tag do %>

  document.addEventListener('turbolinks:load', function(){
    $('.carousel-row').slick({
      infinite: true,
      dots: true,
      autoplay: true,
      autoplaySpeed: 2000
    });
  });
<% end %>
