<div class="row carousel-row">
  <div class="carousel">
    <div class="carousel-img">
      <%= image_tag("baby-hand-crop.jpeg", class: 'mobile-hide') %>
      <%= image_tag("baby-hand-mobile", class: 'mobile-show') %>
    </div>
    <div class="text-overlay">
      <h2>Personal Plan For Your Little One</h2>
    </div>
    <div class="button-container">
      <%= link_to("Learn More", class_path, class: 'btn btn-carousel mobile-hide') %>
    </div>
  </div>
  <div class="carousel">
    <div class="carousel-img">
      <%= image_tag("n131ups3hog-amanda-jordan-crop.jpg", class: 'mobile-hide') %>
      <%= image_tag("n131ups3hog-amanda-jordan-mobile.jpg", class: 'mobile-show') %>
    </div>
    <div class="text-overlay">
      <h2>Breastfeeding Friendly</h2>
    </div>
    <div class="button-container">
      <%= link_to("Learn More", class_path, class: 'btn btn-carousel mobile-hide') %>
    </div>
  </div>
  <div class="carousel">
    <div class="carousel-img">
      <%= image_tag("g6neij8rqmg-amanda-jordan-crop.jpg", class: 'mobile-hide') %>
      <%= image_tag("g6neij8rqmg-amanda-jordan-mobile.jpg", class: 'mobile-show') %>
    </div>
    <div class="text-overlay">
      <h2>When Your Baby Is Ready</h2>
    </div>
    <div class="button-container">
      <%= link_to("Learn More", class_path, class: 'btn btn-carousel mobile-hide') %>
    </div>
  </div>
</div>

<div class="row">
  <header class="section-header">
    <h1>Get the rest you need to take the best care of your baby.</h1>
  </header>
</div>

<div class="row" id="testimonials">
  <div class="col-lg-4">
    <div class="col-inner">
      <h3>
        "When I left I really felt like I had the tools to make my deepest wish come true... A consistently good night of sleep."
      </h3>
      <p>-Lexia</p>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="col-inner">
      <h3>
        "This class was my life line! I would still be waking every hour with him without Ashley's help."
      </h3>
      <p>-Allison</p>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="col-inner">
      <h3>
        "Using the techniques I learned in this class, I helped my son learn to fall asleep without being attached to nursing."
      </h3>
      <p>-Sasha</p>
    </div>
  </div>
</div>


<!-- CAROUSEL -->
<%= javascript_tag do %>

  document.addEventListener('turbolinks:load', function(){
    $('.carousel-row').slick({
      infinite: true,
      dots: true,
      arrows: false,
      autoplay: true,
      autoplaySpeed: 5000
    });
  });
<% end %>
