<div class="row form-row">
  <div class="col-lg-4">
    <%= form_for [@workshop, @registration] do |f| %>
      <% if @registration.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

          <ul>
          <% @registration.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

    <%= f.fields_for :questionaire do |ff| %>
      <%= f.hidden_field :stripe_card_token %>
      <%= f.hidden_field :plus_one, :id => 'plusOneField', :value => 'false' %>
      <%= tag :meta, :name => "price", :content => @workshop.price %>
      <%= tag :meta, :name => "plus-one-price", :content=> @workshop.plus_one_price %>

      <div class="form-head margin-bottom">
        <h4>Please fill out this quick questionnaire.</h4>
      </div>
      <div class="field form-group">
        <%= ff.label :baby_name %><br>
        <%= ff.text_field :baby_name, class: 'form-control', :required => 'true' %>
      </div>
      <div class="field form-group form-inline">
        <%= ff.label :baby_dob %><br>
        <%= ff.date_select :baby_dob, {}, {class: 'form-control', :required => 'true'} %>
      </div>
      <div class="field form-group form-inline">
        <%= ff.label :bedtime %><br>
        <%= ff.time_select :bedtime, {:ampm => true, :default => {:hour => '19', :minute => '00'}}, {class: 'form-control', :required => 'true'} %>
      </div>
      <div class="field form-group">
        <%= ff.label :naps_per_day %><br>
        <%= ff.number_field :naps_per_day, class: 'form-control', :required => 'true', maxlength: '2', size: '2' %>
      </div>
  </div>
  <div class="col-lg-4">
      <div class="field form-group">
        <%= ff.label :nap_location %><br>
        <%= ff.text_field :nap_location, class: 'form-control', :required => 'true' %>
      </div>
      <div class="field form-group">
        <%= ff.label :nap_routine %><br>
        <%= ff.text_field :nap_routine, class: 'form-control', :required => 'true' %>
      </div>
      <div class="field form-group">
        <%= ff.label :night_location %><br>
        <%= ff.text_field :night_location, class: 'form-control', :required => 'true' %>
      </div>
      <div class="field form-group">
        <%= ff.label :night_routine %><br>
        <%= ff.text_field :night_routine, class: 'form-control', :required => 'true' %>
      </div>
      <div class="field form-group">
        <%= ff.label :desired_sleep_location %><br>
        <%= ff.text_field :desired_sleep_location, class: 'form-control', :required => 'true' %>
      </div>
  </div>
  <div class="col-lg-4">
      <div class="field form-group">
        <%= ff.label :sleep_obstacle %><br>
        <%= ff.text_field :sleep_obstacle, class: 'form-control', :required => 'true' %>
      </div>
      <div class="field form-group">
        <%= ff.label :nightwakings %><br>
        <%= ff.number_field :nightwakings, class: 'form-control', :required => 'true' %>
      </div>
      <div class="field form-group">
        <%= ff.label :sleep_goal %><br>
        <%= ff.text_field :sleep_goal, class: 'form-control', :required => 'true' %>
      </div>
      <div class="field form-group">
        <%= ff.label :referred_by %><br>
        <%= ff.text_field :referred_by, class: 'form-control', :required => 'true' %>
      </div>
    <% end %>
      <div class="actions">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
          Submit
        </button>
      </div>
  </div>
</div>
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">PAYMENT INFORMATION</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="col-container" id="invoice">
              <header>
                <h4>Order Summary</h4>
              </header>
              <table class='table'>
                <thead>
                  <tr>
                    <th>Item</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Workshop on <%=date_format(@workshop.time)%></td>
                    <td><%= price_in_dollars(@workshop.price) %></td>
                  </tr>
                  <tr>
                    <td>
                      <button type="button" class="btn btn-primary btn-sm" id="plusOneButton">Add Adult</button>
                    </td>
                    <td id="plusOnePrice">$0.00</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td>Total:</td>
                    <td id="totalPrice"><%= price_in_dollars(@workshop.price)  %></td>
                  </tr>
                </tfoot>
              </table>
              <div class="container">
                <p style="float:left">Processing provided by <a href="https://www.stripe.com">Stripe</a></p>
              </div>
              <br>
              <div class="disclaimer-container">
                <p>
                  Babies-in-arms are welcome, but do require registration
                  of an additional care provider to help minimize distractions.
                </p>
                <p>
                  Please click 'Add Adult' above to register an additional
                  care provider.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="field form-group form-group-sm">
              <%= label_tag  :name, 'Name as it appears on card'%>
              <%= text_field_tag :name, nil, name: nil, class: 'form-control'%>
            </div>

            <div class="field form-group form-group-sm">
              <%= label_tag  :address_line1, 'Billing Address'%>
              <%= text_field_tag :address_line1, nil, name: nil, class: 'form-control'%>
            </div>

            <div class="field form-group form-group-sm">
              <%= text_field_tag :address_line2, nil, name: nil, class: 'form-control'%>
            </div>

            <div class="field form-group form-group-sm no-gutter">
              <div class="col-lg-4">
                <%= label_tag  :address_city, 'City'%>
                <%= text_field_tag :address_city, nil, name: nil, class: 'form-control'%>
              </div>
              <div class="col-lg-1"></div>
              <div class="col-lg-2">
                <%= label_tag  :address_state, 'State'%>
                <%= select_tag :address_state, options_for_select(states_array, states_array[4]),  class: 'form-control' %>
              </div>
              <div class="col-lg-1"></div>

              <div class="col-lg-4">
                <%= label_tag  :address_zip, 'Zip Code'%>
                <%= text_field_tag :address_zip, nil, name: nil, class: 'form-control'%>
              </div>


            </div>
            <div class="field form-group form-group-sm">

            </div>
            <div class="field form-group form-group-sm">
              <%= label_tag :card_number, "Credit Card Number" %>
              <%= text_field_tag :card_number, nil, name: nil, class: 'form-control', :required => 'true' %>
            </div>
            <div class="field form-group form-group-sm">
              <div class="form-inline">
                <%= label_tag :card_month, "Card Expiration Date" %>
                <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month", class: 'form-control', :required => 'true'} %>
                <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year", class: 'form-control', :required => 'true'} %>
              </div>
            </div>
            <div class="field form-group form-group-sm">
              <%= label_tag :card_code, "Security Code (CVV)" %>
              <%= text_field_tag :card_code, nil, name: nil, class: 'form-control', :required => 'true' %>
            </div>
            <div id="stripe_error">
              <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit 'Register', class: 'btn btn-primary margin-top' %>
      </div>
    </div>
  </div>
</div>


  <% end %>
