<div class="row form-row">
  <div class="col-lg-4">
    <%= form_for [@workshop, @registration] do |f| %>
      <% if @registration.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

          <ul>
          <% @registration.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    <%= f.fields_for :questionaire do |ff| %>
      <div class="form-head margin-bottom">
        <h4>Please fill out this quick questionnaire.</h4>
      </div>
      <div class="field form-group">
        <%= ff.label :baby_name %><br>
        <%= ff.text_field :baby_name, class: 'form-control', placeholder: "What is your baby's name?" %>
      </div>
      <div class="field form-group form-inline">
        <%= ff.label :baby_dob %><br>
        <%= ff.date_select :baby_dob, {}, {class: 'form-control'} %>
      </div>
      <div class="field form-group form-inline">
        <%= ff.label :bedtime %><br>
        <%= ff.time_select :bedtime, {:ampm => true, :default => {:hour => '19', :minute => '00'}}, {class: 'form-control'} %>
      </div>
      <div class="field form-group">
        <%= ff.label :naps_per_day %><br>
        <%= ff.number_field :naps_per_day, class: 'form-control', maxlength: '2', size: '2' %>
      </div>
  </div>
  <div class="col-lg-4">
      <div class="field form-group">
        <%= ff.label :nap_location %><br>
        <%= ff.text_field :nap_location, class: 'form-control' %>
      </div>
      <div class="field form-group">
        <%= ff.label :nap_routine %><br>
        <%= ff.text_field :nap_routine, class: 'form-control' %>
      </div>
      <div class="field form-group">
        <%= ff.label :night_location %><br>
        <%= ff.text_field :night_location, class: 'form-control' %>
      </div>
      <div class="field form-group">
        <%= ff.label :night_routine %><br>
        <%= ff.text_field :night_routine, class: 'form-control' %>
      </div>
      <div class="field form-group">
        <%= ff.label :desired_sleep_location %><br>
        <%= ff.text_field :desired_sleep_location, class: 'form-control' %>
      </div>
  </div>
  <div class="col-lg-4">
      <div class="field form-group">
        <%= ff.label :sleep_obstacle %><br>
        <%= ff.text_field :sleep_obstacle, class: 'form-control' %>
      </div>
      <div class="field form-group">
        <%= ff.label :nightwakings %><br>
        <%= ff.number_field :nightwakings, class: 'form-control' %>
      </div>
      <div class="field form-group">
        <%= ff.label :sleep_goal %><br>
        <%= ff.text_field :sleep_goal, class: 'form-control' %>
      </div>
      <div class="field form-group">
        <%= ff.label :referred_by %><br>
        <%= ff.text_field :referred_by, class: 'form-control' %>
      </div>
    <% end %>
    <div class="actions">
        <%= f.button 'Register', type: "submit", class: 'btn btn-default margin-top' %>
    </div>
  </div>
</div>

  <% end %>
