<%= form_for [@workshop, @registration] do |f| %>
  <% if @registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
      <% @registration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :questionaire do |ff| %>
    <div class="field">
      <%= ff.label :baby_name %><br>
      <%= ff.text_area :baby_name %>
    </div>
    <div class="field">
      <%= ff.label :baby_dob %><br>
      <%= ff.datetime_select :baby_dob %>
    </div>
    <div class="field">
      <%= ff.label :nap_location %><br>
      <%= ff.text_field :nap_location %>
    </div>
    <div class="field">
      <%= ff.label :night_location %><br>
      <%= ff.text_field :night_location %>
    </div>
    <div class="field">
      <%= ff.label :desired_sleep_location %><br>
      <%= ff.text_field :desired_sleep_location %>
    </div>
    <div class="field">
      <%= ff.label :nap_routine %><br>
      <%= ff.text_field :nap_routine %>
    </div>
    <div class="field">
      <%= ff.label :night_routine %><br>
      <%= ff.text_field :night_routine %>
    </div>
    <div class="field">
      <%= ff.label :naps_per_day %><br>
      <%= ff.number_field :naps_per_day %>
    </div>
    <div class="field">
      <%= ff.label :bedtime %><br>
      <%= ff.time_select :bedtime %>
    </div>
    <div class="field">
      <%= ff.label :sleep_obstacle %><br>
      <%= ff.text_field :sleep_obstacle %>
    </div>
    <div class="field">
      <%= ff.label :nightwakings %><br>
      <%= ff.number_field :nightwakings %>
    </div>
    <div class="field">
      <%= ff.label :sleep_goal %><br>
      <%= ff.text_field :sleep_goal %>
    </div>
    <div class="field">
      <%= ff.label :referred_by %><br>
      <%= ff.text_field :referred_by %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
