<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <h3><%= @questionaire.registration.user.name %></h3>

    <table class="table table-bordered">
      <thead>
        <th></th>
        <th></th>
      </thead>
        <% attributes = @questionaire.attributes.except('id', 'registration_id', 'created_at', 'updated_at') %>
        <% attributes.each do |key, value| %>
          <tr>
            <td><strong><%= key %>:</strong></td>
            <% if key == 'baby_dob' %>
              <td><%= date_format(value) %></td>
            <% elsif key == 'bedtime' %>
              <td><%= time_format(value) %></td>
            <% else %>
              <td><%= value %></td>
            <% end %>
          </tr>
        <% end %>
    </table>

    <%= link_to 'Back', workshops_path %>

  </div>
</div>
